<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "361x241" crop="center" upscale=True as im %}
        <a href="{% url 'recipe' recipe.author.username recipe.id %}" class="link" target="_blank"><img src="{{ im.url }}" alt="{{ recipe.title }}" class="card__image"></a>
    {% endthumbnail %}
    {% csrf_token %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.author.username recipe.id %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for key, value in param_dict.items %}
                {% if key == recipe.id %}
                    {% if 'Завтрак' in value %}
                        <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                    {% endif %}
                    {% if 'Обед' in value %}
                        <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                    {% endif %}
                    {% if 'Ужин' in value %}
                        <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                    {% endif %}
                {% endif %}    
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.first_name }} {{ recipe.author.last_name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% for key, value in param_dict.items %}
            {% if key == recipe.id %}
                {% if 'add-purchases' in value %}
                    <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                {% elif 'del-purchases' in value %}
                    <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен</button>
                {% endif %}
                {% if 'add-favorites' in value %}
                    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                {% elif 'del-favorites' in value %}
                    <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>